.ma {
    margin-right: 10px;
}
body{
    background-color: black;
}

.img-thumbnail{
    box-shadow:1 1 5px greenyellow;
}

.login{
    color: white;
}

.head{
    color: white;
    padding-bottom: 20px ;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: bold;
}


